@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baumans", system-ui;
}
body {
  overflow: hidden;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #1E1B3A, #000000);
}
section .color {
  position: absolute;
  filter: blur(150px);
}
section .color:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: #E58D00;
}
section .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  width: 500px;
  height: 500px;
  background: #2C264C;
}
section .color:nth-child(3) {
  bottom: 50px;
  right: 100px;
  width: 300px;
  height: 300px;
  background: #00B0FF;
}
.container
{
   position: relative;
    width: calc(100% - 100px);
    min-height: 300px;
    background: rgba(46, 9, 131, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 50px;
    gap: 50px; 
}
header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(46, 9, 131, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}
header .logo
{
    color: #E58D00;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
header ul li a
{
    text-decoration: none;
    font-size: 500;
    color: #E58D00;
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover,
header ul li a.active
{
    background: #2C264C;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.box
{
    position: relative;
    min-width: 350px;
    max-width: 400px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    z-index: 10;
}
.box h3
{
    font-size: 1.5em;
    color: #E58D00;
    margin-bottom: 20px;
}
.box .list
{
    position: relative;
    display: flex;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    
}
.box .list:hover
{
    background: rgba(255, 255, 255, 0.05)
    
}
.box .list .imgBx
{
    position: relative;
    width: 60px;
    height: 60px;
}
.box .list .content
{
    margin-left: 10px;
    color: #fff;
}
.box2
{
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    z-index: 10;
}
.box2 h3
{
    color: #E58D00;
}
.box2 h4
{
    color: #fff;
}
.box2 .icons
{
    margin-left: 1100px;
    margin-top: 15px;
}
.box3
{
    position: relative;
}
.box3 .list
{
    position: relative; 
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    
}
.box4
{
    position: relative;
}
.box4 .list
{
    position: relative;
    display: flex;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    
}