@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baumans", system-ui;
}
body {
  overflow: hidden;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #1E1B3A, #000000);
}
section .color {
  position: absolute;
  filter: blur(150px);
}
section .color:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: #E58D00;
}
section .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  width: 500px;
  height: 500px;
  background: #2C264C;
}
section .color:nth-child(3) {
  bottom: 50px;
  right: 100px;
  width: 300px;
  height: 300px;
  background: #00B0FF;
}
.container
{
   position: relative;
    width: calc(100% - 100px);
    min-height: 300px;
    background: rgba(46, 9, 131, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 50px;
    gap: 50px; 
}
header
{
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(46, 9, 131, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

}
header .logo
{
    color: #E58D00;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header ul
{
    display: flex;
}
header ul li
{
    list-style: none;
    margin: 0 10px;
}
header ul li a
{
    text-decoration: none;
    font-size: 500;
    color: #E58D00;
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover,
header ul li a.active
{
    background: #2C264C;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.content
{
    transform: translateX(-100px);
    max-width: 1500px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 100px;
    transform: translateX(0);
}
.content h2
{
    font-size: 3em;
    color: #E58D00;
}
.content p
{
    font-size: 1.2em;
    color: aqua;
}
.content a
{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #E58D00;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.imgBx img
{
  max-width: 600px;
  animation: animate 5s linear infinite;
}
@keyframes animate
{
  0%,100%
  {
    transform: translateY(50px);
  }
  50%
  {
    transform: translateY(100px);
  }
}